<div id="<%= dom_id restaurant %>">
  <p>
    <strong><%= restaurant.name %></strong>
  </p>

  <p>
    <strong>ЁЯУН</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong><%= 'тнРя╕П' * restaurant.rating %></strong>
  </p>

</div>
